<h1 align="center">Engagement Function</h1>
<h2 align="center">Exchanging the Rings</h2>
<div style="text-align:center;">
  <%= image_tag("IMG_5347.JPG", size: "575x400", :alt => "rss feed") %>
</div>

<h1 align="center">In Solapur</h1>
<h2 align="center">With All new Verna</h2>
<div style="text-align:center;">
  <%= image_tag("Sagar_and_Swati.jpg", size: "575x400", :alt => "rss feed") %>
</div>



