<div style="text-align:center;">
  <%= image_tag("Welcome.jpg", size: "600x600", :alt => "rss feed") %>    
</div>

<div class="center jumbotron">
  <%= link_to "Their Story", their_story_path(@welcome), class: "btn btn-primary btn-lg btn-xlarge"%>
</div>


