 <h1 align="center">Location</h1>
 <p align="center">Vitthal-Rukhmini Palace,</p>
 <P align="center">Pandhapur Karad road,</p>
 <P align="center">Near Panth Nagar,</p>
 <p align="center">Pandharpur</p>

