$navbar-default-bg: #ee4466;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
	text-align: center;
}

#logo{
	color: white;
}

#logo2{
	color: white;
}

#logo3{
	color: white;
}

#logo4{
	color: white;
}

.nav.navbar-nav li a {
   color: white;
 }

.jumbotron {
	background-image: asset-url('wedding.jpg');
	background-size: cover;
	height: 750px;
	width: 800px;
}

.jumbotron {
	color: #000;
	text-align: center;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xlarge{
	font-size: 1.7em;
	margin-top: 350px;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	
}

a.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
