$navbar-default-bg: #f48aa0;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('Sagar_and_Swati.jpg');
	background-size: cover;
	height: 550px;
}

.jumbotron {
	color: #000;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	
}

a.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}