<div class="container">
    <footer class="footer">
        <small>
            Created By: Akash Bhalchandra Ukarande
        </small>
        <nav>
            <ul>
                <li><%= link_to "Home", root_path %></li>
            </ul>    
        </nav>
    </footer>
</div>    